################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ipch
/src/packages
/src/YuvRendering.sln.ide
*.opensdf
*.sdf
*.suo
/src/.vs
*.user
**/Debug/
**/Release/
/src/YuvRenderer/YuvRenderer.Shared/YuvPixelShaderNV12Expanded.hlsl
